target/
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.DS_Store
*.iml
*.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.pyc
__pycache__/
.vscode
*.swp
*.swo
*~
.project
.pydevproject
.settings/
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
logs/
*.log
.env
.env.local
